.Info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
}

.InfoD {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #556080;
}

.Titolo {
  margin-top: 35px;
  padding: 0px;
  width: 300px;
  height: 40px;
  border: solid 2px gray;
  text-align: center;
  font-size: 18px;
}

.Timer {
  padding: 0px;
  margin: 15px 0 15px 0;
  width: 150px;
  height: 40px;
  border: solid 2px gray;
  text-align: center;
  font-size: 18px;
}

.Eth {
  padding: 0px;
  width: 150px;
  height: 40px;
  border: solid 2px gray;
  text-align: center;
  font-size: 18px;
}

.Info1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
}

.Address {
  padding-top: 8px;
  overflow: auto;
  background-color: white;
  width: 350px;
  height: 40px;
  text-align: center;
  margin: 0px;
  color: gray;
}

.Balance {
  overflow: auto;
  background-color: white;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 0px;
  color: gray;
  margin-bottom: 20px;
  padding-top: 8px;
}

.Rete {
  margin-top: 100px;
  background-color: white;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 0px 0 5px 0;
  color: gray;
  padding-top: 8px;
}

h2 {
  font-weight: 400;
  color: #556080;
  margin: 15px;
}

.Crea {
  width: 250px;
  height: 50px;
  text-transform: uppercase;
  border: none;
  background-color: #09a6ee;
  color: white;
  text-decoration: none;
}

.Creab {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.Rete3 {
  margin: 20px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  width: 250px;
  box-shadow: 3px 3px 6px gray;
}

.Preleva {
  margin-top: 50px;
  width: 250px;
  height: 50px;
  text-transform: uppercase;
  border: none;
  background-color: #09a6ee;
  color: white;
}
