.Info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
}

.Info1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
}

.Address {
  padding-top: 8px;
  overflow: auto;
  background-color: white;
  width: 350px;
  height: 40px;
  text-align: center;
  margin: 0px;
  color: gray;
}

.Balance {
  overflow: auto;
  background-color: white;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 0px;
  color: gray;
  margin-bottom: 20px;
  padding-top: 8px;
}

.Rete {
  background-color: white;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 0px;
  color: gray;
  padding-top: 8px;
}

h2 {
  font-weight: 400;
  color: #556080;
  margin: 15px;
}

.Crea {
  width: 250px;
  height: 50px;
  text-transform: uppercase;
  border: none;
  background-color: #09a6ee;
  color: white;
}

.Creab {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
